html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title!= title
    meta(name='description', content='')
    meta(name='theme-color' content='#4DA5F4')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet', href='/static/css/style.css')
    script(type="text/javascript" src="https://use.fontawesome.com/releases/v5.0.7/js/all.js")
    script(type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type="text/javascript" src="/static/js/helper.js")
body
  .bd-example.is-paddingless
    nav.navbar.is-danger
      .navbar-brand
        a.navbar-item(href="/")
          img(src="https://bulma.io/images/bulma-logo-white.png" width="112" height="28")
        .navbar-burger.burger(data-target="navMenuColordanger-example")
          span
          span
          span
      #navMenuColordanger-example.navbar-menu
        .navbar-start
          a.navbar-item.is-active(href="/")
            | Home
          a.navbar-item(href="/manage")
            | Manage
          a.navbar-item(href="/terminal")
            | Terminal
          a.navbar-item(href="/status")
            | Status
        .navbar-end
          .navbar-item
            a.button(href="/exec/download")
              span.icon
                i.fas.fa-download
              span Download logs
    section.section.home
      h2.titre Welcome to your process management website !
      img(src="/static/assets/server.png" id="image" alt="image")
