html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title!= title
    meta(name='description', content='')
    meta(name='theme-color' content='#4DA5F4')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    script(defer="" type="text/javascript" src="https://use.fontawesome.com/releases/v5.0.7/js/all.js")
    script(defer="" type="text/javascript" src="/static/js/menuToggle.js")
body
