.home {
    /* background-image: url("/static/assets/server.png"); */
    background-repeat: no-repeat;
    background-size: 60%;
    width: 50%;
    height: 100%;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.titre {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 220%;
}